.new
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #edb51e;
text-align: center;
text-shadow: #edb51e 2px 2px 4px;
font-size: 40px;
}


.content
{
    
margin: 20px;
padding: 20px;
border: 2px solid black;
background-color: #f0f0f0;
font-family: Arial, Helvetica, sans-serif;
    
}
