.new
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #d83d09;
text-align: center;
text-shadow: #d82e10 2px 2px 4px;
font-size: 40px;
margin: 20px;
padding: 10px;
box-shadow: #dd3e13 0px 0px 10px;
text-shadow: #d54215 2px 2px 4px;
}


.content
{
    
margin: 20px;
padding: 20px;
border: 2px solid black;
background-color: #f0f0f0;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
line-height: 1.6;

    
}
